<div class="alert alert-danger text-center hide" id="contactDeleteFail" role="alert">
    <strong>Error!</strong> Could not delete your contact method at this time. Please try again.
</div>

<div class="alert alert-success text-center hide" id="contactDeleteSuccess" role="alert">
    <strong>Success!</strong> Your contact method was successfully deleted.
</div>



<div class="text-center">
<div class="btn-group btn-group-lg btn-group-vertical text-center" role="group" aria-label="...">
  <button id="createNewBtn" type="button" ng-click="changeView('/createContactMethod')" class="btn btn-default">Create New Contact Method</button>
  <button class="btn btn-default" id="createNewOrg" ng-hide="hasOrg" ng-click="changeView('/createOrg')">Register Your Organization</button>
</div>
</div>

<div class="text-center">
</br>
<div ng-show="contactMethods.length > 0">
    <h1>Contact Methods:</h1>
    <ul ng-repeat="contactMethod in contactMethods">
        <div id="contact{{ contactMethod.contactMethodID }}">
        Priority: {{ contactMethod.priority }}</br>
        Title: {{ contactMethod.title }}</br>
        Contact: {{ contactMethod.contactData }}</br>
        <button ng-click="deleteContactMethod(contactMethod.contactMethodID)"><span class="glyphicon glyphicon-trash" aria-hidden="Delete"></span></button>
        <button ng-click="editContactMethod(contactMethod)"><span class="glyphicon glyphicon-cog" aria-hidden="Edit"></span></button>
        </br>
        </div>
    </ul>
</div>
</div>
